POSTGRES_USER='postgres'
POSTGRES_PASSWORD='123456'
POSTGRES_DB='my-lex'

REDIS_PASSWORD='123456'

COOKIE_SECRET='secret'

SESSION_NAME='session'
SESSION_SECRET='secret'
SESSION_DOMAIN=''
SESSION_MAX_AGE=2592000000
SESSION_HTTP_ONLY=true
SESSION_SECURE=false
SESSION_FOLDER='sessions:'

GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''

AI_PROVIDER=''

OPENAI_API_KEY=''
GOOGLE_AI_API_KEY=''
DOCKER_REGISTRY=''

API_BASE_URL=''
WEB_APP_BASE_URL=''

GOOGLE_RECAPTCHA_SECRET_KEY=''

USER_AI_REQUESTS_LIMIT_PER_PERIOD=
USER_AI_REQUESTS_REFRESH_PERIOD_IN_SECONDS=
