{
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "all",

  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": [
    "classProperties",
    "decorators-legacy",
    "typescript",
    "jsx"
  ],

  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@my-lex/(.*)$", "^../(.*)",
    "^./(.*)"
  ],

  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
